<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item><ion-input [(ngModel)]="email" placeholder="Email"></ion-input></ion-item>
  <ion-item><ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input></ion-item>
  <ion-button (click)="loginuser()">Login</ion-button>
  <ion-item *ngIf="errorMessage!=null" color="danger">{{errorMessage}}</ion-item>
</ion-content>
